@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section
{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #111;
    transition: 1s;

}
.banner.active
{
    right: 300px;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo
{
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    background: url(image/menu.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    cursor: pointer;
}
.toggle.active
{
    
    background: url(image/close.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;

    cursor: pointer;
}
section video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #00f, #f00);
    mix-blend-mode: overlay;
}
.text
{
    position: relative;
    z-index: 10;
}
.text h2{
    font-size: 4em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3{
    font-size: 2em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text p
{
    position: relative;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    color: #fff;
}
.text a
{
    margin: 20px 0;
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: #f3f0f0;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    -webkit-bok-reflect: below 1px linear-gradient(transparent,rgba(12, 27, 235, 0.333));
}
.text a:hover
{
    color: #1b1b1b;
    background: rgba(4, 0, 255, 0.548);
    box-shadow: 0 0 5px #1033fc, 0 0 40px #0922ff, 0 0 80px #1726ff, 0 0 200px #174dff;
    transition-delay: 0.4s;
}
.text a span
{
    position: absolute;
    display: block;
}
.text a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#0327f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: 100%;
    }
}
.text a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#0327f4);
    animation: animate2 2s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top: 100%;
    }
}
.text a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#0327f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}

.text a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg,transparent,#0327f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}
.sci
{
    position: absolute;
    z-index: 10;
    bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
}

.menu
{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(189, 97, 250, 0.746);
}
.menu ul
{
    position: relative;
}
.menu ul li
{
    position: relative;
    list-style: none;
    text-align: center;
}
.menu ul li a
{
    text-decoration: none;
    font-size: 24px;
    color: black;

}
.menu ul li a:hover
{
    top: 10px;
    margin: 20px;
    padding: 10px;
    color: red;
    text-shadow:5px 5px 5px rgba(4, 0, 255, 0.548);
    

}
@media (max-width: 991px)
{
    section,
    section header
    {
        padding: 40px;
    }
    .text h2
    {
        font-size: 3em;
    }
    .text h3
    {
        font-size: 2em;
    }
}